<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.game.dao.GameRecordDao">
  <resultMap id="BaseResultMap" type="com.example.game.entity.GameRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="record_uuid" jdbcType="CHAR" property="recordUuid" />
    <result column="record_date" jdbcType="TIMESTAMP" property="recordDate" />
    <result column="record_account" jdbcType="VARCHAR" property="recordAccount" />
    <result column="record_count" jdbcType="INTEGER" property="recordCount" />
    <result column="record_amount" jdbcType="DECIMAL" property="recordAmount" />
    <result column="record_valid_amount" jdbcType="DECIMAL" property="recordValidAmount" />
    <result column="record_gain" jdbcType="DECIMAL" property="recordGain" />
    <result column="game_user_id" jdbcType="INTEGER" property="gameUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="RecordStatisticsResultMap" type="com.example.game.entity.GameRecordStatistics">
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pourNum" jdbcType="INTEGER" property="pourNum" />
    <result column="pourAmount" jdbcType="DECIMAL" property="pourAmount" />
    <result column="effectAmount" jdbcType="DECIMAL" property="effectAmount" />
    <result column="profitAmount" jdbcType="DECIMAL" property="profitAmount" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
  </resultMap>

  <sql id="Base_Column_List">
    id, record_uuid, record_date, record_account, record_count, record_amount, record_valid_amount, 
    record_gain, game_user_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from game_record
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectGameRecordStatisticsResult" parameterType="com.example.game.value.GameRecordConditionVo" resultMap="RecordStatisticsResultMap">
    select
    concat(#{startDateTime,jdbcType=TIMESTAMP},'~',#{endDateTime,jdbcType=TIMESTAMP}) as date,
    <if test="columnCondition != null and columnCondition != ''">
      ${columnCondition}
    </if>
    from game_record
    where 1=1

    <if test="startDateTime != null and endDateTime != null">
      and  record_date BETWEEN #{startDateTime,jdbcType=TIMESTAMP} AND #{endDateTime,jdbcType=TIMESTAMP}
    </if>

    <if test="condition != null and condition != ''">
      ${condition}
    </if>

  </select>



  <select id="getRecordAccountList"  resultType="java.util.HashMap">
    SELECT DISTINCT record_account FROM game_record

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.game.entity.GameRecord">
    insert into game_record (id, record_uuid, record_date, 
      record_account, record_count, record_amount, 
      record_valid_amount, record_gain, game_user_id, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{recordUuid,jdbcType=CHAR}, #{recordDate,jdbcType=TIMESTAMP}, 
      #{recordAccount,jdbcType=VARCHAR}, #{recordCount,jdbcType=INTEGER}, #{recordAmount,jdbcType=DECIMAL},
      #{recordValidAmount,jdbcType=DECIMAL}, #{recordGain,jdbcType=DECIMAL}, #{gameUserId,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.game.entity.GameRecord">
    insert into game_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="recordUuid != null">
        record_uuid,
      </if>
      <if test="recordDate != null">
        record_date,
      </if>
      <if test="recordAccount != null">
        record_account,
      </if>
      <if test="recordCount != null">
        record_count,
      </if>
      <if test="recordAmount != null">
        record_amount,
      </if>
      <if test="recordValidAmount != null">
        record_valid_amount,
      </if>
      <if test="recordGain != null">
        record_gain,
      </if>
      <if test="gameUserId != null">
        game_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recordUuid != null">
        #{recordUuid,jdbcType=CHAR},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordAccount != null">
        #{recordAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordCount != null">
        #{recordCount,jdbcType=INTEGER},
      </if>
      <if test="recordAmount != null">
        #{recordAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordValidAmount != null">
        #{recordValidAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordGain != null">
        #{recordGain,jdbcType=DECIMAL},
      </if>
      <if test="gameUserId != null">
        #{gameUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.game.entity.GameRecord">
    update game_record
    <set>
      <if test="recordUuid != null">
        record_uuid = #{recordUuid,jdbcType=CHAR},
      </if>
      <if test="recordDate != null">
        record_date = #{recordDate,jdbcType=TIMESTAMP},
      </if>
      <if test="recordAccount != null">
        record_account = #{recordAccount,jdbcType=VARCHAR},
      </if>
      <if test="recordCount != null">
        record_count = #{recordCount,jdbcType=INTEGER},
      </if>
      <if test="recordAmount != null">
        record_amount = #{recordAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordValidAmount != null">
        record_valid_amount = #{recordValidAmount,jdbcType=DECIMAL},
      </if>
      <if test="recordGain != null">
        record_gain = #{recordGain,jdbcType=DECIMAL},
      </if>
      <if test="gameUserId != null">
        game_user_id = #{gameUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.game.entity.GameRecord">
    update game_record
    set record_uuid = #{recordUuid,jdbcType=CHAR},
      record_date = #{recordDate,jdbcType=TIMESTAMP},
      record_account = #{recordAccount,jdbcType=VARCHAR},
      record_count = #{recordCount,jdbcType=INTEGER},
      record_amount = #{recordAmount,jdbcType=DECIMAL},
      record_valid_amount = #{recordValidAmount,jdbcType=DECIMAL},
      record_gain = #{recordGain,jdbcType=DECIMAL},
      game_user_id = #{gameUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>