<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.game.dao.GameTaskDao">
  <resultMap id="BaseResultMap" type="com.example.game.entity.GameTask">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="result" jdbcType="VARCHAR" property="result" />
  </resultMap>
<!--  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.game.entity.GameTask">-->

<!--  </resultMap>-->
  <sql id="Base_Column_List">
    task_id, name, remark, create_time, creator, type, status,`condition`,result
  </sql>
  <sql id="Blob_Column_List">
    condition, result
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />

    from game_task
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>


  <select id="selectGameTaskList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />

    from game_task
    where 1=1
    order by create_time desc
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from game_task
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.game.entity.GameTask" useGeneratedKeys="true" keyProperty="taskId">
    insert into game_task (task_id, name, remark, 
      create_time, creator, type, 
      status, `condition`, result
      )
    values (#{taskId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{condition,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.game.entity.GameTask" useGeneratedKeys="true" keyProperty="taskId">
    insert into game_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="condition != null">
        `condition`,
      </if>
      <if test="result != null">
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="condition != null">
        #{condition,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.game.entity.GameTask">
    update game_task
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="condition != null">
        `condition` = #{condition,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.game.entity.GameTask">
    update game_task
    set name = #{name,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      `condition` = #{condition,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>

</mapper>